.menu{
display: flex;
justify-content: space-between;
background-color: black;
font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 400;
color: white;
}
body{
background-color: aqua;    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: inherit;
}
.grid img{
border:2px solid black;
border-radius: 50px;
}
.origami{
border-radius: 20px;
background-color: chartreuse;
width: 200px; height: 200px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}